.main {
    width: 100%;
    overflow-x: hidden;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__bg {
        background-image: url('/assets/library.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__title {
        transform: translateY(-60px);
        font-size: 3.5rem;
        font-weight: 900;
        color: white;
        filter: drop-shadow(0 0px 5px rgba(#777, 0.5));
    }

    &__subtitle {
        transform: translateY(-70px);
        font-size: 1.75rem;
        font-weight: 900;
        color: white;
        filter: drop-shadow(0 0px 5px rgba(#777, 0.5));
    }
}